// bower:scss
// endbower

#ecosystem{
	height:640px;
	width:800px;
	border:1px solid black;
	position:relative;
 }

.creature{
	height:4px;
	width:4px;
	border-radius:2px;
	background-color:black;
	position:absolute;
 }
