<html ng-app=EcoSim>
<head>
	<link rel="stylesheet" href="app.css" type="text/css">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller=Controller>
<div id=page-container mykeypress=HandleKeypress(event) tabindex=0>
	<div>Title!</div>

	<div id=canvas ng-click=HandleClick($event) >
		<div ng-repeat="Creature in Creatures"> 
			<div class="creature {{Creature.Type}}" style="top:{{Creature.y}}; left:{{Creature.x}}"></div>
		</div>
	</div>

	<div id=controls>Press x to start, left click to add a 'creature', r,g,b to select creature type.</div>
	<div>Creature: {{Creature}}</div>
</div>
</body>
</html>
