#canvas
 {
	height:640px;
	width:800px;
	border:1px solid black;
	position:relative;
 }

.creature
 {
	height:4px;
	width:4px;
	border-radius:2px;
	background-color:black;
	position:absolute;
 }

.red
 {
	background-color:red;
 }

.green
 {
	background-color:green;
 }

.blue
 {
	background-color:blue;
 }
